[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
httpx = "*"
fpdf2 = "*"
fastapi-mail = "*"
pydantic-settings = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
